.home {
    padding: 20px;
}
.image{
    width: 5.5rem;
    height: 5rem;
    display: block;
    margin: 1.5rem auto 
}
.info{
    display: block;
    text-align: center;
}

.number{
    margin: 0 0.5rem;
    text-align: center;
}

.fa-venus{
    background-color: transparent;
    color: red
}


.fa-mars{
    background-color: transparent;
    color: blue
}

.vert-r{
    border-right: solid 0.1rem rgba(255, 255, 255);
}

.vert-l{
    border-left: solid 0.1rem rgba(255, 255, 255);
}

.btn{
    max-width: 390px;
}
